= render 'shared/header'
.slider-frame
  .slider-list
    .slider-list__first
      .slider-list__first__text
        .slider-list__first__text__comment
          スマホで かんたん 
          %br フリマアプリ
        .slider-list__first__text__sub-comment
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .slider-list__first__text__image
          %ul
            %li
              = link_to "#" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3135490372", width: "130px")
            %li
              = link_to "#" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3135490372", width: "130px")

    .slider-list__second
      = image_tag "car1.jpg", size: "1440x390", alt: "sample2"
.category
  .category__populer
    人気のカテゴリー
  .category__genre
    .category__genre__list
      レディース
    .category__genre__list
      メンズ
    .category__genre__list
      家電・スマホ・カメラ
    .category__genre__list
      おもちゃ・ホビー・グッズ
.contents-main__new
  .contents-main__new__category
    .contents-main__new__category__header
      .contents-main__new__category__header__left
        レディース新着アイテム
      .contents-main__new__category__header__right
        = link_to "#" do
          もっと見る 〉
    .contents-main__new__category__items
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "cap.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥5,000
        .contents-main__new__category__items__card__text
          プラダ 帽子
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "punps.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥10,000
        .contents-main__new__category__items__card__text
          エルメス 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "blouse.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥58,000
        .contents-main__new__category__items__card__text
          シャネル 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "car1.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥8,000
        .contents-main__new__category__items__card__text
          プラダ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "bird1.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥900
        .contents-main__new__category__items__card__text
          プラダ マニキュア
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "cap.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥7,000
        .contents-main__new__category__items__card__text
          ディオール 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "dress.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥15,000
        .contents-main__new__category__items__card__text
          エルメス スカーフ
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "pafume.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥20,000
        .contents-main__new__category__items__card__text
          グッチ 鞄
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "pafume.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥4,000
        .contents-main__new__category__items__card__text
          シャネル 香水
      .contents-main__new__category__items__card
        .contents-main__new__category__items__card__img
          = image_tag "dress.jpg", size: "188x182", alt: "sample1"
          .contents-main__new__category__items__card__img__money
            ￥2,000
        .contents-main__new__category__items__card__text
          プラダ ハンカチ
      
    .category-genre-first
    .category-genre-second
    .category-genre-third
    .category-genre-forth
.contents-main__category
-#   = render @ladies
-#   = render @mens
-#   = render @appliances
-#   = render @toys
-#   .bland
-#   .bland-populer
-#   .bland-genre
-#     .bland-genre-first
-#     .bland-genre-second
-#     .bland-genre-third
-#     .bland-genre-forth
-# .contents-main__bland
-#   = render @channel
-#   = render @luiviton
-#   = render @supreme
-#   = render @nike
= render 'shared/footer'
