= render 'shared/header'

.slider-frame
  .slider-list
    .slider-list__first
      .slider-list__first__text
        .slider-list__first__text__comment
          スマホで かんたん 
          %br フリマアプリ
          
        .slider-list__first__text__sub-comment
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです

      .slider-list__first__text__image
        %ul
          %li
            = link_to "#" do
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3135490372", width: "170px")
          %li
            = link_to "#" do
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3135490372", width: "170px")

          
    .slider-list__second
      = image_tag "car1.jpg", size: "1440x390", alt: "sample2"
.category
  .category__populer
    人気のカテゴリー
  .category__genre
    .category__genre__list
      レディース
    .category__genre__list
      メンズ
    .category__genre__list
      家電・スマホ・カメラ
    .category__genre__list
      おもちゃ・ホビー・グッズ
.contents-main__new
  .contents-main__new__category
    .category-genre-first
    = render 'shared/contents'
    .category-genre-second
    = render 'shared/contents'
    .category-genre-third
    = render 'shared/contents'
    .category-genre-forth
    = render 'shared/contents'


= render 'shared/footer'

-#   = render @ladies
-#   = render @mens
-#   = render @appliances
-#   = render @toys
-#   .bland
-#   .bland-populer
-#   .bland-genre
-#     .bland-genre-first
-#     .bland-genre-second
-#     .bland-genre-third
-#     .bland-genre-forth
-# .contents-main__bland
-#   = render @channel
-#   = render @luiviton
-#   = render @supreme
-#   = render @nike
