.header
  .header-img
    = image_tag "fmarket_logo_red.svg", size: "100x80", alt: "mercali" 
  .header-rightbox
    .header-rightbox__list
      .header-rightbox__list__block
        .header-rightbox__list__block__active
          会員情報
        .header-rightbox__list__block__status
          .header-rightbox__list__block__status__active
            ●
        .header-rightbox__list__block__status__bar
      .header-rightbox__list__block
        電話番号認証
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        お届け先住所入力
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        支払い方法
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        完了
        .header-rightbox__list__block__status
          ●
.main
  .main__content
    .main__content__header
      会員情報入力
    .main__content__form
      
.footer
  .footer__content
    .footer__content__main
      = link_to "#" do
        プライバシーポリシー
      = link_to "#" do
        メルカリ利用規約
      = link_to "#" do
        特定商取引に特定商取引に関する表記
    .footer__content__icon
    = link_to "#" do
      = image_tag "logo_gray.svg", size: "100x80", alt: "mercali"
    .footer__content__bottom
      ©️Mercali,Inc.