.header
  .header-img
    = image_tag "fmarket_logo_red.svg", size: "100x80", alt: "mercali" 
  .header-rightbox
    .header-rightbox__list
      .header-rightbox__list__block
        .header-rightbox__list__block__active
          会員情報
        .header-rightbox__list__block__status
          .header-rightbox__list__block__status__active
            ●
        .header-rightbox__list__block__status__bar
      .header-rightbox__list__block
        電話番号認証
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        お届け先住所入力
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        支払い方法
        .header-rightbox__list__block__status
          ●
      .header-rightbox__list__block
        完了
        .header-rightbox__list__block__status
          ●
.main
  .main__content
    .main__content__header
      会員情報入力
    .main__content__form
      .main__content__form__nickname
        .main__content__form__nickname__header
          ニックネーム
        .main__content__form__nickname__require
          必須
        .main__content__form__nickname__form
          例）メルカリ太郎
      .main__content__form__mail
        .main__content__form__mail__header
          メールアドレス
        .main__content__form__mail__require
          必須
        .main__content__form__mail__form
          PC・携帯どちらでも可
      .main__content__form__password
        .main__content__form__password__header  
          パスワード 
        .main__content__form__password__require
          必須
        .main__content__form__password__form
          ７文字以上の英数字
        .main__content__form__password__note
          ※ 英字と数字の両方を含めて設定してください
        .main__content__form__password__indicate
          パスワードを表示する
      .main__content__form__identify
        .main__content__form__identify__title
          本人確認
        .main__content__form__identify__text
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .main__content__form__identify__header
          お名前(全角)
        .main__content__form__identify__require
          必須
        .main__content__form__identify__surname
          例）山田
        .main__content__form__identify__name
          例）彩
        .main__content__form__identify__header
          お名前カナ(全角)
        .main__content__form__identify__require
          必須
        .main__content__form__identify__surname
          例）ヤマダ
        .main__content__form__identify__name
          例）アヤ
        .main__content__form__identify__header
          生年月日
        .main__content__form__identify__require
          必須
        .main__content__form__identify__birthday-year
          年
        .main__content__form__identify__birthday-month
          月
        .main__content__form__identify__birthday-date
          日
        .main__content__form__identify__note
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .main__content__form__footer
        .main__content__form__footer__note
          「次へ進む」のボタンを押すことにより、
          = link_to "#" do
            利用規約
          に同意したものとみなします
        .main__content__form__footer__btn
          = link_to "#" do
            次へ進む
        .main__content__form__footer__info
          = link_to "#" do
            本人情報の登録について〉
        .main__content__form__footer__message
          This site isprotected by reCAPTCHA and the Google
          = link_to "#" do
            Privacy Policy 
          and 
          = link_to "#" do
            Terms of Service  
          apply.
.footer
  .footer__content
    .footer__content__main
      = link_to "#" do
        プライバシーポリシー
      = link_to "#" do
        メルカリ利用規約
      = link_to "#" do
        特定商取引に特定商取引に関する表記
    .footer__content__icon
    = link_to "#" do
      = image_tag "logo_gray.svg", size: "100x80", alt: "mercali"
    .footer__content__bottom
      ©️Mercali,Inc.