.footer
  .footer__content
    .footer__content__main
      = link_to "#" do
        プライバシーポリシー
      = link_to "#" do
        メルカリ利用規約
      = link_to "#" do
        特定商取引に特定商取引に関する表記
    .footer__content__icon
    = link_to "#" do
      = image_tag "logo_gray.svg", size: "100x80", alt: "mercali"
    .footer__content__bottom
      ©️Mercali,Inc.
