.heder
  .header-logo
    .header-logo__name
    .header-logo__form
       = f.text_field :content, class: 'form__message',placeholder: '何かお探しですか？'
  .header-item__btn
    .header-item__btn-left
      .header-item__btn-left-first
      .header-item__btn-left-second
      .header-item__btn-right-first
      .header-item__btn-right-second
.swiper-contents
  .swiper-contents__wrapper
    .swiper-contents__wrapper__slide
    .swiper-contents__wrapper__slide
.category
  .category-populer
  .category-genre
    .category-genre-first
    .category-genre-second
    .category-genre-third
    .category-genre-forth
.contents-main__category
  = render @ladies
  = render @mens
  = render @appliances
  = render @toys
  .bland
  .bland-populer
  .bland-genre
    .bland-genre-first
    .bland-genre-second
    .bland-genre-third
    .bland-genre-forth
.contents-main__bland
  = render @channel
  = render @luiviton
  = render @supreme
  = render @nike
.footer
  .footer-top
    .footer-top__comment
    .footer-top-big__comment
    .footer-top__image
    .footer-top__btn
       .footer-top__btn__left
       .footer-top__btn__center
       .footer-top__btn__right
  .footer-bottom
    .footer-bottom__info
      .footer-bottom__info__mercali
        .footer-bottom__info__mercali__btn
         =link_to "https://twitter.com/", class: "contents__btn" do
           Twitter
         =link_to "https://www.facebook.com/", class: "contents__btn" do
           Facebook
      .footer-bottom__info__help
      .footer-bottom__info__privacy
      .footer-bottom__info__policy
      .footer-bottom__info__safety
      .footer-bottom__info__country  
      .footer-bottom__info__copyright
.exhibit-btn