.header
  .exhibit-btn
    出品
  .head-part
    .heading
      %h3.heading-logo
        = link_to root_path do
          %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", width: "150px"}
      .heading__form
        = form_for "#" do |f|
          %label.fuzzy_search__label
            = text_field_tag :search, "",class:"fuzzy_search__field",placeholder:"  何かお探しですか？"
            = icon 'fas', 'search', class: "fuzzy_search__label--icon"
            = submit_tag 'search', class:"fuzzy_search__label--btn"
            
    .header-item__btn
      .header-item__btn-left
        .header-item__btn-left-first
  
        .header-item__btn-left-second
          ブランドから探す
      .header-item__btn-right
        .header-item__btn-right-first
        .header-item__btn-right-second