%h 商品の情報を入力
= form_for(@item, url: items_path) do |f|
  = f.label '出品画像'
  %span.listing-default--require 必須
  #previews
  - if @item.persisted?
    - @item.images.each_with_index do |image, i|
      = image_tag image.src.url, data: { index: i }, width: "100", height: '100'

  #image-box
    = f.fields_for :images do |image|
      .js-file_group{"data-index" => "#{image.index}"}
        = image.file_field :src, class: 'js-file'
        %br/
        %span.js-remove 削除

  = f.label '商品名'
  %span.listing-default--require 必須
  = f.text_field :item_name, placeholder: "商品名 (必須40文字まで)"
  %br/
  
  = f.label '商品の説明'
  %span.listing-default--require 必須
  = f.text_area :detail, placeholder: "商品の説明 (必須1,000文字以内)   (色、素材、重さ、定価、注意点など) 例)"
  %br/

  .listing-form-box
  .listing-product-detail__category
    = f.label 'カテゴリー', class: 'listing-default__label'
    %span.listing-default--require 必須
    .listing-select-wrapper
      .listing-select-wrapper__box
        = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
        %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
  %br/      

  = f.label '商品の状態'
  %span.listing-default--require 必須
  = f.select :status, Item.statuses.keys, {prompt: '---'}
  %br/
  
  = f.label '配送料の負担'
  %span.listing-default--require 必須
  = f.select :postage,  [ ["送料込み(出品者負担)","1"], ["着払い(購入者負担)","2"]],prompt: "---" 
  %br/
  
  = f.label '発送の方法'
  %span.listing-default--require 必須
  = f.select :postmethod, Item.methods.keys, {prompt: '---'}
  %br/
  
  = f.label '発送元の地域'
  %span.listing-default--require 必須
  = f.select :streetadress, Item.addresses.keys, {prompt: '---'}
  %br/
  
  = f.label '発送までの日数'
  %span.listing-default--require 必須
  = f.select :days, [ ["1~2日で発送","1"], ["2~3日で発送","2"], ["4~7日で発送"]],prompt: "---"
  %br/
  
  = f.label '価格'
  %span.listing-default--require 必須
  = f.number_field :price
  %br/
  -# -if (:price >= 300 && :price<=999999)
  -#   -mage = :price*0.1

  
  %br/
  = f.submit "出品する"


  
  